<!doctype html>

<html>

<head>
    <title>{% block title %}{% endblock %}@bottles</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <!-- <h1>Bottles thrown into the internet</h1> -->

    <nav class="navbar navbar-expand-sm navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Bottles</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('blog.root') }}">Home</a>
                </li>
                {% if g.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('blog.new') }}">Create new</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('blog.users') }}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-sm-12">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-4">
                <div class="jumbotron">
                    <div class="container">
                            <h1 class="display-4">{% block header %}{% endblock %}</h1>
                            <p class="lead">{% block description %}{% endblock %}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                {% for message in get_flashed_messages() %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
                {% endfor %}

                {% block content %}{% endblock %}
            </div>
            <div class="col-lg-1">
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>